{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.duree , { 'attr': {'class': 'form-control'} }) }}
    {{ form_row(form.dateDerou , { 'attr': {'class': 'form-control'} }) }}
    {{ form_row(form.score1, { 'attr': {'class': 'form-control'} }) }}
    {{ form_row(form.score2 , { 'attr': {'class': 'form-control'} }) }}
    {{ form_row(form.idEquipe1 , { 'attr': {'class': 'form-control'} }) }}
    {{ form_row(form.idEquipe2 , { 'attr': {'class': 'form-control'} }) }}
    {{ form_row(form.idTournoi , { 'attr': {'class': 'form-control'} }) }}
<br>

    {#  {{ form_row(form.Confirmer , { 'attr': {'class': 'btn btn-success'} }) }}#}
<button class="btn btn-success" type="submit">Ajouter</button>
{{ form_end(form) }}
