{% extends 'header.oc.html.twig' %}

{% block title %}Partie index{% endblock %}


{% block body %}
    <h1>Gestion des parties&nbsp;<span><button class="btn btn-primary" id="myBtn">Ajouter une nouvelle partie</button></span></h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}


    <div class="table-responsive">

    <table class="table align-items-center">
        <thead>
            <tr>

                <th>Durée du match </th>
                <th>Date de Déroulement</th>
                <th>Score de l'équipe 1</th>
                <th>Score de l'équipe 2</th>
                <th>EQUIPES</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>

                <td>{{ partie.duree }} Minutes</td>
                <td>{{ partie.dateDerou ? partie.dateDerou|date('Y-m-d') : '' }}</td>
                <td>{{ partie.score1 }}</td>
                <td>{{ partie.score2 }}</td>
                <td>{{ partie.idEquipe1.nom }} VS {{ partie.idEquipe2.nom }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_partie_show', {'idpartie': partie.idpartie}) }}">Show</a>
                    <a class="btn btn-warning" href="{{ path('app_partie_edit', {'idpartie': partie.idpartie}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>

    <!-- Trigger/Open The Modal -->


    <!-- The Modal -->
    <div id="myModal" class="modal">

        <div class="container" align="center">
            <!-- Modal content -->
            <div class="modal-content">
                <h3>Ajouter un Nouveau match &nbsp; <span class="close">&times;</span></h3>

                {{ include('partie/_form.html.twig') }}
            </div>
        </div>

    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>

{% endblock %}
