{% extends 'header.oc.html.twig' %}

{% block title %}Partie{% endblock %}

{% block body %}
    <h1><a href="{{ path('app_partie_index') }}" class="btn btn-primary" type="button" style="border-radius: 50%">←</a> Détails du Partie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idpartie</th>
                <td>{{ partie.idpartie }}</td>
            </tr>
            <tr>
                <th>Durée de la partie</th>
                <td>{{ partie.duree }}</td>
            </tr>
            <tr>
                <th>Date de déroulement</th>
                <td>{{ partie.dateDerou ? partie.dateDerou|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Score de l'équipe 1</th>
                <td>{{ partie.score1 }}</td>
            </tr>
            <tr>
                <th>Score de l'équipe 2</th>
                <td>{{ partie.score2 }}</td>
            </tr>
        </tbody>
    </table>

   {#<a href="{{ path('app_partie_index') }}">back to list</a> #}

    <a class="btn btn-danger" href="{{ path('app_partie_edit', {'idpartie': partie.idpartie}) }}">Edit</a>

    {{ include('partie/_delete_form.html.twig') }}
{% endblock %}
